h1 {
    font-size: 34px;
    color:blue;
    margin-left: 15px;
}

ul {
    margin: 10px;
}

li {
    font-size: 22px;
    margin-left: 16px;
    margin-bottom: 10px;
}

p {
    font-size: 22px;
    margin-left: 66px;
}